* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  border: solid black;
  margin: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(25, 9, 121, 0.6253851882549895) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border: solid wheat;
  border-radius: 15%;
  cursor: pointer;
}

.card:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(25, 9, 121, 0.6253851882549895) 35%,
    rgba(2, 0, 36, 1) 100%
  );
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: outset wheat;
  border-radius: 15px;
  margin: 0.5rem 0.5rem;
}

.information h3 {
  color: wheat;
}

.name {
  text-align: center;
  color: rgb(207, 173, 109);
  grid-column: span 2;
  padding: 0.2rem;
}

.skills {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: outset wheat;
  border-radius: 5px;
  margin: 1rem;
  grid-column: span 2;
}

.skills h4 {
  color: wheat;
}

.photo {
  margin: 0.5rem 0.5rem;
  align-self: center;
  justify-self: center;
}

.photo img {
  border: outset wheat;
  border-radius: 50px;
}

#info {
  background: darkkhaki;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
}
